#rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #666;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 25%;
  top: 0;
  height: 400px;
  width: 50%;
  position: absolute;
}
h2 {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;
  color: #333;
}
h3,
h4 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
button {
  color: #6aaf08;
  font-weight: 400;
}
a {
  color: #6aaf08;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #222;
}
ul,
ol {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 3px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #6aaf08;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
}

hr.right {
  height: 3px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #6aaf08;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
  margin-right: 0;
}
/* Navigation */
#menu {
  padding: 20px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
  font-size: 26px;
  font-weight: 600;
  color: #eee;
}
#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #ddd;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
  color: #6aaf08;
}
.on {
  background-color: #333 !important;
  padding: 0 !important;
  padding: 15px 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #6aaf08 !important;
  background-color: transparent;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #6aaf08;
}
.section-title {
  margin-bottom: 70px;
}
.section-title p {
  font-size: 18px;
  color: #666;
}
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #6aaf08;
  padding: 14px 20px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 6px;
  margin-top: 20px;
  transition: all 0.3s;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-color: #5f9d07;
}
.btn-custom-primary {
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  padding: 14px 20px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 6px;
  margin-top: 20px;
  transition: all 0.3s;
}
.btn-custom-primary:hover,
.btn-custom-primary:focus,
.btn-custom-primary.focus,
.btn-custom-primary:active,
.btn-custom-primary.active {
  color: #fff;
  background-color: #286090;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) top center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,70ad47+100&0.6+0,0.4+100 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(112, 173, 71, 0.4) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(112, 173, 71, 0.4) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(112, 173, 71, 0.4) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#6670ad47', GradientType=0 ); /* IE6-9 */
}
.intro .fa {
  font-size: 94px;
  margin-bottom: 40px;
  color: #fff;
}
.intro h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.intro p {
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}
.intro .btn-custom {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
header .intro-text {
  padding-top: 320px;
  padding-bottom: 200px;
  text-align: center;
}
/* About Section */
#about {
  padding: 140px 0 100px 0;
  background: #f6f6f6;
}
#about h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 0 0;
}
#about .about-text span {
  color: #70ad47;
  font-weight: 700;
  letter-spacing: -1px;
}
#about hr.left {
  margin-left: 0;
  margin-bottom: 40px;
}
#about .btn {
  margin-top: 40px;
}
#about .about-media img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#about .about-text,
#about .about-desc {
  margin-bottom: 40px;
}
#about p {
  line-height: 24px;
  margin-top: 20px;
}
/* Blue Section */
#speakers,
#organizers,
#venue,
#contact {
  padding: 130px 0;
  background: #1b5b8b;
}

#venuepartners {
  padding: 130px 0;
  background: #fff;
}
#speakers .speaker-media,
#venue .venue-media,
#organizers .organizer-media,
#contact .contact-media {
  margin: 10px;
}
#speakers .speaker-media img,
#venue .venue-media img,
#organizers .organizer-media img,
#contact .contact-media img,
#venueparnters .venuepartners-media img {
  position: relative;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
}
#speakers .service-desc,
#venue .service-desc,
#organizers .service-desc,
#contact.service-desc {
  margin: 10px 10px 40px;
  text-align: center;
}
#speakers h2,
#venue h2,
#organizers h2 {
  color: #fff;
}
#contact h2 {
  color: #fff;
}
#speakers h3,
#venue h3,
#organizers h3,
#communitypartners h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
}
#contact h3 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
}
#speakers p,
#venue p,
#organizers p,
#contact p {
  color: rgba(255, 255, 255, 0.9);
}
#speakers hr,
#venue hr,
#organizers hr,
#communitypartners hr,
#contact hr {
  background: #fff;
}

#pastevents {
  padding: 120px 0;
}
#venuepartners {
  padding: 120px 0;
}
#communitypartners {
  padding: 130px 0;
  background: #1b5b8b;
}
#communitypartners h2 {
  color: #fff;
}

/*White Section*/
#schedule,
#sponsors,
#sponsorship,
#team,
#pastevents {
  padding: 120px 0;
  background: #fff;
}
#schedule .service-media,
#sponsors .service-media,
#sponsorship .service-media,
#team .service-media,
#pastevents .service-media {
  margin: 10px;
}
#schedule .service-media img,
#sponsors .service-media img,
#sponsorship .service-media img,
#pastevents .service-media img,
#team .service-media img {
  position: relative;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
}
#schedule .service-desc,
#sponsors .service-desc,
#sponsorship .service-desc,
#team .service-desc,
#pastevents .service-desc {
  margin: 10px 10px 40px;
  text-align: center;
}
#schedule h2,
#sponsors h2,
#sponsorship h2,
#team h2,
#pastevents h2 {
  color: #000;
}
#schedule h3,
#sponsors h3,
#sponsorship h3,
#team h3,
#pastevents h3 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
}
#schedule p,
#sponsors p,
#sponsorship p,
#team p,
#pastevents p {
  color: black;
}
/* Footer Section*/
#footer {
  background: #333;
  padding: 30px 0 20px;
}
#footer h3 {
  color: #1e7a46;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer .social {
  margin: 10px 0 50px 0;
}
#footer .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#footer .social i.fa {
  font-size: 22px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #444;
  color: #6aaf08;
  border-radius: 50%;
  transition: all 0.3s;
}
#footer .social i.fa:hover {
  background: #6aaf08;
  color: #fff;
}
#footer p {
  color: #666;
  font-size: 15px;
}
#footer a {
  color: #888;
}
#footer a:hover {
  color: #ccc;
}
